<div class="card shadow">
  <div class="card-header">
    <h4>
      <%= t "#{controller_name}_#{action_name}" %>
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', tenant: @tenant %>
  </div>
  <div class="card-footer">
    <%= link_to t(".show", default: t("helpers.links.show")).capitalize, @tenant %> |
    <%= link_to t(".back", default: t("helpers.links.back")).capitalize, my_tenants_path %>
  </div>
</div>