<div class="card shadow">
  <div class="card-header">
    <h4>
      <%= t("helpers.titles.new").titleize %>
      <%= Tenant.model_name.human.titleize %>
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', tenant: @tenant %>
  </div>
  <div class="card-footer">
    <%= link_to t(".back", default: t("helpers.links.back")).capitalize, tenants_path, class: "btn btn-sm btn-secondary" %>
  </div>
</div>