<div class="card shadow">
  <div class="card-header">
    <h4>
      New Tenant
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', tenant: @tenant %>
  </div>
  <div class="card-footer">
    <%= link_to 'Back', my_tenants_path %>
  </div>
</div>