<div class="container">
  <div class="card shadow">
    <div class="card-header">
      <h3>
        About Us
      </h3>
    </div>
    <div class="card-body">
      Corsego SaaS is authored by 
      <a target="_blank" href="https://github.com/yshmarov">Yaroslav Shmarov</a>
      from
      <a target="_blank" href="https://corsego.com">Corsego</a>
      <p></p>
      You can use Corsego SaaS as a boilerplate for building a Ruby on Rails single-database multitenant applications with billing on organisation-level (not individual)
      <p></p>
      You can learn to build such applications on your own, as well as discover all my reasonings for this architecture in my
      <a target="_blank" href="https://www.udemy.com/course/ruby-on-rails-6-learn-20-gems-build-an-e-learning-platform/?referralCode=4721E9D437DEE1734159">Udemy Course</a>
      <p></p>
      I have also released a bestseller Udemy Course
      <a target="_blank" href="https://www.udemy.com/course/ruby-on-rails-6-learn-20-gems-build-an-e-learning-platform/?referralCode=4721E9D437DEE1734159">Ruby on Rails 6: Learn 25+ gems and build a Startup MVP 2020</a>
      <p></p>
    </div>
    <div class="card-footer">
      Questions?
      <a href="mailto:yshmarv@gmail.com?subject=Corsego%20SaaS%20question">Contact us</a>
    </div>
  </div>
</div>