<div class="jumbotron shadow">
  <div class="row">
    <div class="col-md-6">
      <h1>
        Ruby on Rails 6: SaaS multitenancy boilerplate
      </h1>
      <br>
      <h5>
        This is a Ruby on Rails Multitenancy Software as a Service boilerplate app.
        <p></p>
        Imagine having different secure organisations in Slack, or different team projects in Trello.
        <p></p>
        Users can create organisations, invite members, and manage access rights to different data
      </h5>

      <% unless user_signed_in? %>
        <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-outline-danger btn-lg mr-1', data: { disable_with: "#{t("users.show.connecting")}..." } do %>
          Try with
          <div class="fab fa-google"></div>
        <% end %>
        <%= link_to user_github_omniauth_authorize_path, class: 'btn btn-outline-dark btn-lg mr-1', data: { disable_with: "#{t("users.show.connecting")}..." } do %>
          Try with
          <div class="fab fa-github"></div>
        <% end %>
        <br>
      <% end %>

    </div>
    <div class="col-md-6">
      <iframe src="https://player.vimeo.com/video/474396376" width="100%" height="427" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="jumbotron shadow text-center">
  <h3>
    Buy a Licence + Video course:
    <br>
    <%= link_to "https://gumroad.com/l/ror6saas", target: :_blank do %>
      Ruby on Rails 6: Learn to Build a Multitenancy Subscriptions SaaS app 
      <div class="fa fa-external-link-alt"></div>
    <% end %>
  </h3>
</div>

<div class="text-center">
  <h1>
    Features
  </h1>
  The core functionality works well.
  <br>
  We are always working on adding more features.
  <br>
  You can see the existing features, as well as the roadmap here:
</div>
<br>

<div class="row">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-sign-in-alt"></i>
          Authentication
        </h3>
      </div>
      <div class="card-body">
        <li>
          Log in with email
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          Log in with google
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          Log in with github
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          Connect multiple social accounts to one user
          <div class="badge badge-success">
            Available
          </div>
        </li>
      </div>
    </div>
    <p></p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-building"></i>
          Team Multitenancy
        </h3>
      </div>
      <div class="card-body">
        <li>
          Complete row-based multitenancy
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          User can create multiple tenants (same as [:organisations, :teams, :accounts])
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          User can switch between tenants
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          User can invite others to become members of the tenant
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          Flexible ways to set current_tenant only where you need it
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          Data is scoped based on current_tenant
          <div class="badge badge-success">
            Available
          </div>
        </li>
      </div>
    </div>
    <p></p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-users-cog"></i>
          Authorization
        </h3>
      </div>
      <div class="card-body">
        <li>
          When a user creates a tenant, he gets tenant "admin" role
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          3 default roles: [:admin, :editor, :viewer]. You can change them.
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          Admin can manage roles and delete users
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          Admin can manage general tenant settings
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          Editor can create, read, update, delete tenant-specific data
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          Viewer can only see the tenant-specific data
          <div class="badge badge-success">
            Available
          </div>
        </li>
      </div>
    </div>
    <p></p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-lock-open"></i>
          Plan-based restrictions
        </h3>
      </div>
      <div class="card-body">
        <li>
          Create custom pricing Plans
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          For example - restrictions based on max. members
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          You can change the plan for a tenant
          <div class="badge badge-success">
            Available
          </div>
        </li>
      </div>
    </div>
    <p></p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-money-bill-wave"></i>
          Billing and Subscriptions
        </h3>
      </div>
      <div class="card-body">
        <li>
          Custom subscriptions engine (no gems!)
          <div class="badge badge-success">
            Available!
          </div>
        </li>
        <li>
          NO tenant access without an active subscription
          <div class="badge badge-success">
            Available!
          </div>
        </li>
        <li>
          Subscriptions
          <div class="badge badge-success">
            Available!
          </div>
        </li>
        <li>
          One-time Payments
          <div class="badge badge-success">
            Available!
          </div>
        </li>
        <li>
          Stripe integration
          <div class="badge badge-success">
            Available!
          </div>
        </li>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-user-shield"></i>
          Superadmin access
        </h3>
      </div>
      <div class="card-body">
        <li>
          Custom SIMPLE superadmin panel (no gems!)
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          Manage users, tenants, plans, subscriptions, charges
          <div class="badge badge-success">
            Available
          </div>
        </li>
      </div>
    </div>
    <p></p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fab fa-bootstrap"></i>
          Bootstrap 4.5 native UI
        </h3>
      </div>
      <div class="card-body">
        <li>
          Full mobile responsiveness
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          Nice styling with minimal css
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          Fontawesome icons
          <div class="badge badge-success">
            Available
          </div>
        </li>
      </div>
    </div>
    <p></p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fa fa-language"></i>
          Internationalization (i18n)
        </h3>
      </div>
      <div class="card-body">
        <li>
          Users can select language
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          Views with i18n included
          <div class="badge badge-success">
            Available
          </div>
        </li>
      </div>
    </div>
    <p></p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-rocket"></i>
          Production & SEO ready
        </h3>
      </div>
      <div class="card-body">
        <li>
          ActiveStorage & AWS S3 readiness
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          reCaptcha without google
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          Dark Mode
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          Progressive Web App
          <div class="badge badge-success">
            Available
          </div>
        </li>
      </div>
    </div>
    <p></p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-hat-wizard"></i>
          Super scaffolding
        </h3>
      </div>
      <div class="card-body">
        <li>
          New scaffolds are automatically styled
          <div class="badge badge-warning">
            Coming soon!
          </div>
        </li>
        <li>
          Search functionality integrated into new scaffolds.
          <div class="badge badge-warning">
            Coming soon!
          </div>
        </li>
        <li>
          Sorting functionality integrated into new scaffolds.
          <div class="badge badge-warning">
            Coming soon!
          </div>
        </li>
      </div>
    </div>
    <p></p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fa fa-info-circle"></i>
          Docs
        </h3>
      </div>
      <div class="card-body">
        <li>
          100% video coverage (code-along tutorial format) of how this app was created
          <div class="badge badge-success">
            Available
          </div>
        </li>
        <li>
          User documentation
          <div class="badge badge-warning">
            Coming soon!
          </div>
        </li>
        <li>
          Developer documentation
          <div class="badge badge-warning">
            Coming soon!
          </div>
        </li>
      </div>
    </div>
    <p></p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fas fa-quote-left"></i>
          Test coverage
        </h3>
      </div>
      <div class="card-body">
        <li>
          <div class="badge badge-warning">
            Coming soon!
          </div>
        </li>
      </div>
    </div>
    <p></p>
  </div>
</div>

<hr>
<div class="text-center">
  <h1>
    Inspiration
  </h1>
  Apps that you can create using multitenancy
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fab fa-salesforce"></i>
          Salesforce
        </h3>
      </div>
      <div class="card-body">
        Subscription-based access to organisational data.
        <br>
        Bill organisations, not individuals.
      </div>
    </div>
    <p></p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fab fa-slack"></i>
          Slack
        </h3>
      </div>
      <div class="card-body">
        Users can create multiple independent environments for different teams.
      </div>
    </div>
    <p></p>
  </div>
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h3>
          <i class="fab fa-trello"></i>
          Trello
        </h3>
      </div>
      <div class="card-body">
        Invite different collaborators for different projects.
        <br>
        Role-based access.
      </div>
    </div>
    <p></p>
  </div>
</div>