<div class="container">
  <div class="card shadow">
    <div class="card-header">
      <h3>
        Terms and conditions
      </h3>
    </div>
    <div class="card-body">
      Hello :)
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>