<%= simple_form_for [@commentable, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <ul class="text-danger">
      <% @comment.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.input :content, label: false, required: true %>
  <%= f.button :submit %>
<% end %>
