<div class="card shadow">
  <div class="card-header">
    <h4>
      Editing Contact
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', contact: @contact %>
  </div>
  <div class="card-footer">
    <%= link_to 'Show', @contact %> |
    <%= link_to 'Back', contacts_path %>
  </div>
</div>