<div class="card shadow">
  <div class="card-header">
    <h4>
      Editing Contact
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', contact: @contact %>
  </div>
  <div class="card-footer">
    <%= link_to 'Back', @contact, class: "btn btn-sm btn-secondary" %>
  </div>
</div>