<% model_class = Tag %>
<div class="card shadow">
  <div class="card-header">
    <h4>
      <%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %>
      Tag
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', tag: @tag %>
  </div>
  <div class="card-footer">
    <%= link_to t(".back", default: t("helpers.links.back")).capitalize, @tag, class: "btn btn-sm btn-secondary" %>
  </div>
</div>

