<p>
<center class="container">
  <div class="card shadow">
    <div class="card-header">
      <h4>
        500
        <%= action_name.humanize %>
      </h4>
    </div>
    <div class="card-body">
      We had a problem loading this page.
    </div>
    <div class="card-footer">
      <%= link_to "Back", root_path %>
    </div>
  </div>
</center>
