<p>
<center class="container">
  <div class="card shadow">
    <div class="card-header">
      <h4>
        404
        <%= action_name.humanize %>
      </h4>
    </div>
    <div class="card-body">
      The page you were looking for doesn't exist.
    </div>
    <div class="card-footer">
      <%= link_to "Back", root_path %>
    </div>
  </div>
</center>
