
body { background: #f8f0e6; }

.bg-purple { background-color: #7952b3; }

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 200px;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    //height: 200px;
    width: 100%;
    overflow: hidden;
}

//header navbar dropdown on top of all other content
.dropdown {z-index: 9999;}

//header navbar dropdown hover background color (light-blue)
.dropdown-item:hover {background-color: #9cccff !important;}
