//background for whole app
body { background: #f8f0e6; }

//all purple backgrounds
.bg-purple { background-color: #7952b3; }

//footer on bottom
html {
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    margin-top: auto;
}

//header navbar dropdown on top of all other content
.dropdown {z-index: 9999;}

//header navbar dropdown hover background color (light-blue)
.dropdown-item:hover {background-color: #9cccff !important;}
