<% model_class = Payment %>
<div class="card shadow">
  <div class="card-header">
    <h4>
      <%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %>
      Payment
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', payment: @payment %>
  </div>
  <div class="card-footer">
    <%= link_to t(".back", default: t("helpers.links.back")).capitalize, @payment, class: "btn btn-sm btn-secondary" %>
  </div>
</div>

