
<%= simple_form_for(@cash_account) do |f| %>
  <% if @cash_account.errors.any? %>
    <ul class="text-danger">
      <% @cash_account.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
