<div class= "card shadow">
  <div class= "card-body">
    <h3 class= "text-center">
      <b>
        <%= current_tenant %>
        dashboard
      </b>
    </h3>
    
    <hr>
  
    <%= link_to "Monthly Tasks Report", monthly_tasks_report_path, class: "btn btn-sm btn-info" %>
  </div>
</div>
