<div class= "text-center">
  
  <h3>
    <b>
      <%= current_tenant %>
    </b>
    dashboard
  </h3>
  
  <hr>

  what goes here is up to you

  <hr>

  <%= current_tenant.subscription.present? %>

</div>