<div class="card shadow">
  <div class="card-header">
    <h4>
      <strong>Charge id:</strong>
      <%= @charge.id %>
    </h4>
  </div>
  <div class="card-body">
    <strong>Tenant:</strong>
    <%= @charge.tenant.name %>
    <br>
    <strong>Metadata:</strong>
    <%= @charge.metadata %>
  </div>
  <div class="card-footer">
    <%= link_to 'Back', tenant_path(current_tenant) %>
  </div>
</div>