<div class="card shadow">
  <div class="card-header">
    <h4>
      Editing Member
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', member: @member %>
  </div>
  <div class="card-footer">
    <%= link_to 'Show', @member %> |
    <%= link_to 'Back', members_path %>
  </div>
</div>